<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="base">

        <link name="base_footprint"></link>

        <joint name="joint_base_footprint" type="fixed">
            <parent link="base_footprint"/>
            <child link="base_link"/>
            <origin xyz="0.0 0.0 0.037" rpy="0.0 0.0 0.0"/>
            <limit effort="5.0" velocity="10.0"/>
        </joint>




        <link name="base_link">
            <inertial>
                <origin xyz="-0.0012337 1.0003E-06 0.027856" rpy="0 0 0" />
                <mass value="1.2237" />
                <inertia ixx="0.0053566" ixy="3.6093E-10" ixz="6.2608E-22" iyy="0.0084415" iyz="6.2819E-22" izz="0.013752" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://meca/meshes/base_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.79216 0.81961 0.93333 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://meca/meshes/base_link.STL" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>

</robot>