<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="imu">
        <link name="link_imu">
            <inertial>
                <origin xyz="-7.5244E-05 -0.0020556 -7.7593E-06" rpy="0 0 0" />
                <mass value="0.00054834" />
                <inertia ixx="8.6846E-09" ixy="-6.071E-11" ixz="4.4622E-11" iyy="1.9443E-08" iyz="-8.0543E-11" izz="2.6482E-08" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://meca/meshes/link_imu.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.79216 0.81961 0.93333 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://meca/meshes/link_imu.STL" />
                </geometry>
            </collision>
        </link>
        <joint name="joint_imu" type="fixed">
            <origin xyz="-8.8046E-05 -0.011773 0.02" rpy="0 0 0" />
            <parent link="base_link" />
            <child link="link_imu" />
            <axis xyz="0 0 0" />
            <limit effort="5.0" velocity="10.0"/>
        </joint>
    </xacro:macro>
</robot>